# Python version
python == 3.9.21

# Core dependencies
numpy == 1.24.3
opencv == 4.10.0
pandas == 2.2.3

# Visualization dependencies
matplotlib == 3.9.4
seaborn == 0.13.2

# Detection dependencies
torch == 2.3.1
torchvision == 0.18.1
ultralytics == 8.3.54
ultralytics-thop == 2.0.13

# TTS dependencies
pyttsx3 == 2.98
pydub == 0.25.1
gTTS == 2.5.4

# OCR dependencies
pytesseract == 0.3.13
paddleocr ==  2.9.1